@import './reset.css';
@import './variables.css';

html {
  font-family: var(--font-primary);
  font-size: var(--fs-xl);
  color: var(--text-accent-color);
  letter-spacing: 0.03rem;
}

body {
  background-color: var(--background-color);
}

div .quote {
  background-color: var(--div-color);
}

p {
  font-size: calc(var(--fs-sm) * 0.6);
}
